/*
  Global design tokeens.

  Example usage:
    bg-[var(--teal)]
    border-[var(--sky-shade)]
    text-[var(--text-dark)]

*/


:root {
  
  --teal: #2DAA9E;
  --teal-shade: #1F8278;

  --sky: #CFE5E4;
  --sky-shade: #B8D5D3;

  --egg: #EAEAEA;

  --white: #ffffff;
  --text-dark: #0f172a;
  --text-muted: #475569;

  --danger: #ef4444;
  --warning: #f59e0b;
  --success: #22c55e;

  --red: #E7000B;
  --pink: #FFE2E2;
  --pink-shade: #F8B2B2;

}

body {
  background: var(--egg);
  color: var(--text-dark);
}